absl-py
asttokens
astunparse
attrs
backcall
cachetools
certifi
charset-normalizer
cycler
decorator
executing
flatbuffers
fonttools
gast
gin-config
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
httplib2
idna
imageio
importlib-metadata
ipython
jedi
kiwisolver
Markdown
matplotlib
matplotlib-inline
mediapy
natsort
networkx
oauthlib
opencv-python
opt-einsum
orjson
packaging
parameterized
parso
pexpect
Pillow
prompt-toolkit
protobuf<4.24
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pydot
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
requests
requests-oauthlib
rsa
scikit-image
scikit-video
scipy
six
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.13.1
tensorflow-addons==0.21.0
tensorflow-estimator
termcolor
tifffile
tqdm
traitlets
typeguard
typing-extensions
urllib3
wcwidth
Werkzeug
wrapt
zipp

numpy==1.24.3
h5py==3.10.0